body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mytitle {
    box-shadow: 0px 2px 4px #777;
    padding: 10px;
    border-radius: 7px;
    /* &:bofore {
        content: "";
        border-left: 1px solid red;
        padding-right: 10px;
    } */
    &:after {
        content: "Student's Bio";
        color: orange;
    }
    margin: 20px;
}
.myicon {
    color: whitesmoke;
    border: 1px solid green;
    padding: 10px;
    border-radius: 50%;
    background-color: green;
}
.aboutme {
    position: relative;
    border-left: 2px solid green;
    padding-left: 20px;
    margin: 20px;
    &:before {
        
    }
    &:after {
        content: "Hey, I am Berry, Yangon. I love coding and coding. Now I am coding on HTML, CSS and JavaScript. But I am going to build Student's Bio page.";
        color: blueviolet;
    }
}
.mypen {
    position: absolute;
    color: blue;
    font-size: 20px;
    left: -10px;
    top: -4px;
}
.myimage {
    --shape : 50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%;
    width: 200px;
    /* height: 200px; */
    clip-path: polygon(var(--shape));
    background-color: #9a8406;
    padding: 30px;
    cursor: pointer;
    margin-left: 25%;
}

.mycontact {
    border: 1px solid #777;
    padding: 30px;
    margin: 10px;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px;
    background-color: powderblue;
}
.email {
    color: darkmagenta;
    box-shadow: 0px 1px 2px whitesmoke;
    width: 100%;
    padding: 7px;
    background-color: pink;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px;
    &:after {
        content: "Email:123@example.com";
        font-family: cursive;
        padding-left: 10px;
    }
}
.address {
    color: darkcyan;
    box-shadow: 0px 1px 2px whitesmoke;
    width: 100%;
    padding: 7px;
    background-color: #777;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px;
    &:after {
        content: "Address: Yangon";
        font-family: cursive;
        padding-left: 10px;
        color: darkred;
        /* background-color: aqua; */
    }
    &:before {
        /* border: 1px solid ; */
        padding: 5px 20px 5px 5px;
        box-shadow: 0px 1px 2px rgb(173, 117, 117);
        width: 20px;
        height: 20px;
        /* border-radius: 50%; */
        border-top-left-radius: 50px ;
        border-bottom-left-radius: 50px;
        background-color: yellowgreen;
    }
}
.telephone {
    color: lavender;
    box-shadow: 0px 1px 2px darkorange;
    width: 100%;
    padding: 7px;
    background-color: darkkhaki;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px;
    &:after {
        content: "Phone:09979332828";
        font-family: cursive;
        padding-left: 10px;
    }
}
.github {
    color: midnightblue;
    box-shadow: 0px 1px 2px darkolivegreen;
    width: 100%;
    padding: 7px;
    background-color: palegreen;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px;
    &:after {
        content: "GitHub:sample.github";
        font-family: cursive;
        padding-left: 10px;
    }
    &:before {
        /* border: 1px solid ; */
        padding: 5px 20px 5px 5px;
        box-shadow: 0px 1px 2px rgb(173, 117, 117);
        width: 20px;
        height: 20px;
        /* border-radius: 50%; */
        border-top-left-radius: 50px ;
        border-bottom-left-radius: 50px;
        background-color: yellow;
    }
}